.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.8rem 10rem;
}
.logo {
  width: 100%;
  max-width: 7.4rem;
}

@media (max-width: 83.4rem) {
  .header {
    padding: 2.8rem 4rem;
  }
}

@media (max-width: 39.3rem) {
  .header {
    padding: 2.8rem 1.6rem;
  }
}
